<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LagerSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/sidebar.css" rel="stylesheet" />

</head>
<body>
    <header style="padding:1.5%">
    </header>
    <!--
    SideMenu
    -->
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-tachometer fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>

            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Racks" asp-action="Index">
                    <i class="fa fa-align-justify fa-2x"></i>
                    <span class="nav-text">
                        Racks
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a class="nav-link" asp-area="" asp-controller="Positions" asp-action="Index">
                    <i class="fa fa-ellipsis-v fa-2x"></i>
                    <span class="nav-text">
                        Positions
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a class="nav-link " asp-area="" asp-controller="Pallets" asp-action="Index">
                    <i class="fa fa-windows fa-2x"></i>
                    <span class="nav-text">
                        Pallets
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a class="nav-link" asp-area="" asp-controller="StockItems" asp-action="Index">
                    <i class="fa fa-archive fa-2x"></i>
                    <span class="nav-text">
                        Products
                    </span>
                </a>
            </li>

        </ul>
    </nav>
    <!--
    View
    -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--
    Footer
    -->
    <footer class="border-top footer text-muted">

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
