@model IEnumerable<LagerSystem.Models.Pallet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-columns">
    @foreach (var item in Model)
    {

        <div class="card">
            <div class="card-body">
                <h3 class="card-text">
                    Position: @Html.DisplayFor(modelItem => item.RackPosition)
                </h3>
                <h5 class="card-title">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </h5>
            </div>
        </div>
    }
</div>
